body{
	background:#232323;
	margin:0 auto;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	}

.square{
	width:30%;
	background:#232323;
	padding-bottom: 30%;
	float:left;
	margin:1.666%;
	border-radius: 30px;
	transition: background 0.6s;
}

.container{
	max-width: 500px;
	margin: 10px auto;
}

h1{
	color:white;
	background:steelblue;
	text-align: center;
	margin: 0 ;

	padding: 20px 30px;
	text-transform: uppercase;

}



.bck{
	background:;
}

#stripe{
	background:white;
	height: 30px;
	text-align: center;
}
.selected {
	background:steelblue;
	color:white;
}

#rgbCol{
	font-size: 2.5rem;
}

button{
	border:none;
	background:none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1.1px;
	font-size:inherit;
	outline: none;

}

#corr{
	display:inline-block;
	width:20%;

	
	font:inherit;
	font-weight: 700;
}

.inv{
	color:white;
	background:steelblue;
}

.dpn{
	display:none;
}

button:hover{
	color:white;
	background:steelblue;
	transition: 300ms;
}